body {
  display: flex;
  flex-direction: column;
  margin: 0;
  text-align: center;
  color: white;
  background-color: black;
  font-family: "Times New Roman", Times, serif;
}

.frameContainer {
  width: 80%;
  height: 80%;
  margin: auto;
  margin-top: 2.5%;
  margin-bottom: 0%;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 50%;
}

.frameBorder {
  border: 1px solid white;
  aspect-ratio: 1.48 / 1;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input {
  text-align: center;
  font-family: inherit;
  background-color: #00000000;
  border: none;
  color: white;
  width: 100%;
}

.input:focus {
  outline: none;
}

.input::selection {
  color: rgb(19, 19, 19);
  background: rgb(208, 208, 208);
}

#text {
  font-size: 300%;
}

#subtext {
  font-size: 100%;
}
