/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.input {
  border: none;
  color: white;

  &:focus {
    outline: none;
  }

  &::selection {
    color: rgb(19, 19, 19);
    background: rgb(208, 208, 208);
  }
}

.aspect-golden-w {
  aspect-ratio: 1.61803398875/1;
}

.aspect-golden-h {
  aspect-ratio: 1/1.61803398875;
}
